/* Padding 10px */
.override .p-0 { padding: 0; }
.override .p-d { padding: 10px; }
.override .p-t { padding-top: 10px; }
.override .p-b { padding-bottom: 10px; }
.override .p-l { padding-left: 10px; }
.override .p-r { padding-right: 10px; }
.override .p-lr { padding-left: 10px; padding-right: 10px; }
.override .p-tb { padding-top: 10px; padding-bottom: 10px; }

/* Padding 20px */
.override .pl-d { padding: 20px; }
.override .pl-t { padding-top: 20px; }
.override .pl-b { padding-bottom: 20px; }
.override .pl-l { padding-left: 20px; }
.override .pl-r { padding-right: 20px; }
.override .pl-lr { padding-left: 20px; padding-right: 20px; }
.override .pl-tb { padding-top: 20px; padding-bottom: 20px; }

/* Padding 5px */
.override .ps-d { padding: 5px; }
.override .ps-t { padding-top: 5px; }
.override .ps-b { padding-bottom: 5px; }
.override .ps-l { padding-left: 5px; }
.override .ps-r { padding-right: 5px; }
.override .ps-lr { padding-left: 5px; padding-right: 5px; }
.override .ps-tb { padding-top: 5px; padding-bottom: 5px; }

/* Margin 10px */
.override .m-0 { margin: 0; }
.override .m-d { margin: 10px; }
.override .m-t { margin-top: 10px; }
.override .m-b { margin-bottom: 10px; }
.override .m-l { margin-left: 10px; }
.override .m-r { margin-right: 10px; }
.override .m-lr { margin-left: 10px; margin-right: 10px; }
.override .m-tb { margin-top: 10px; margin-bottom: 10px; }

/* Margin 20px */
.override .ml-d { margin: 20px; }
.override .ml-t { margin-top: 20px; }
.override .ml-b { margin-bottom: 20px; }
.override .ml-l { margin-left: 20px; }
.override .ml-r { margin-right: 20px; }
.override .ml-lr { margin-left: 20px; margin-right: 20px; }
.override .ml-tb { margin-top: 20px; margin-bottom: 20px; }

/* Margin 5px */
.override .ms-d { margin: 5px; }
.override .ms-t { margin-top: 5px; }
.override .ms-b { margin-bottom: 5px; }
.override .ms-l { margin-left: 5px; }
.override .ms-r { margin-right: 5px; }
.override .ms-lr { margin-left: 5px; margin-right: 5px; }
.override .ms-tb { margin-top: 5px; margin-bottom: 5px; }

/* Margin Helpers */
.override .m-t-0 { margin-top: 0px; }
.override .m-b-0 { margin-bottom: 0px; }
.override .m-l-0 { margin-left: 0px; }
.override .m-r-0 { margin-right: 0px; }

/* Padding Helpers */
.override .p-t-0 { padding-top: 0px; }
.override .p-b-0 { padding-bottom: 0px; }
.override .p-l-0 { padding-left: 0px; }
.override .p-r-0 { padding-right: 0px; }

/* Borders */
.override .b-0 { border: 0; }
.override .b-d { border: 1px solid #ddd; }
.override .b-t { border-top: 1px solid #ddd; }
.override .b-r { border-right: 1px solid #ddd; }
.override .b-b { border-bottom: 1px solid #ddd; }
.override .b-l { border-left: 1px solid #ddd; }
.override .b-t-0 { border-top: 0; }
.override .b-b-0 { border-bottom: 0; }
.override .bl-t, .bl-t-nh { border-top: 4px solid #ddd; }
.override .bl-t:hover, .bl-t-h { border-top: 4px solid #1C79DA; }

/* Border Radius */
.override .br-10 { border-radius: 10px; }
.override .br-4 { border-radius: 4px; }
.override .br-0 { border-radius: 0; }

/* Displays */
.override .d-i { display: inline; }
.override .d-ib { display: inline-block; }
.override .d-b { display: block; }
.override .d-n { display: none !important; }
.override .d-n-w { display: none; }
.override .d-tc { display: table-cell; }

/* Text Color Accents */
.override .a-1 { color: #F36519; }

/* Floats */
.override .fl-l { float: left; }
.override .fl-r { float: right; }
.override .fl-n { float: none; }

/* Overflow Handle */
.override .oy-a { overflow-y: auto; }
.override .oy-h { overflow-y: hidden; }

/* Font Styles */
.override .f-b { font-weight: bold; }
.override .f-i { font-style: italic; }
.override .f-u { text-decoration: underline; }
.override .f-n { font-style: none; font-weight: none; text-decoration: none; }
.override .f-up { text-transform: uppercase; }

/* Positions */
.override .pn-r { position: relative; }
.override .pn-a { position: absolute; }
.override .pn-s { position: static; }

.override .c-p { cursor: pointer; }
.override .s-t { transform: scale(1.5); }

.override .h-a { height: auto !important; }
.override .h-100 { height: 100%; }

.override .bg-n { background: none !important; }
.override .bg-white { background: #fff; color: #333; }
.override .bg-grey { background: #eee; background-color: #eee; color: #333; }
.override .bg-black { background: #333; background-color: #333; color: #fff; }
.override .bg-green { background: #395836; border-color: #395836; color: #fff; }
.override .bg-green:hover { background: #2c442a; border-color: #2c442a; color: #fff; }
.override .bg-blue { background: #194bf2; border-color: #194bf2; color: #fff; }
.override .bg-blue:hover { background: #1134a9; border-color: #1134a9; color: #fff; }

.override .text-green { color: #395836; }
.override .text-success { color: #32b150; }
.override .text-black { color: #333; }
.override .text-white { color: #fff; }
.override .text-sm { font-size: 8px; }

.override .btn.btn-panel { background-color: #f5f5f5; border: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.05); color: #333; }
.override .btn-responsive { white-space: normal; }

.override .bs { box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24); transition: box-shadow 0.2s ease; border: 0; }
.override .bs2 { -webkit-box-shadow: -1px 0px 24px -1px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 24px -1px rgba(0,0,0,0.75); box-shadow: -1px 0px 24px -1px rgba(0,0,0,0.75); }

.override .w-a { width: auto; }
.override .w-100 { width: 100%; }

/* Font sizes for Responsive*/
.override .f-12 { font-size: 12px; }
.override .f-15 { font-size: 15px; }
.override .f-16 { font-size: 16px; }

.override .table-sm td, .override .table-sm th { padding: .3rem; }
.override .table .table-border-0>tbody>tr>td, .override .table .table-border-0>tbody>tr>th, .override .table .table-border-0>tfoot>tr>td, .override .table .table-border-0>tfoot>tr>th, .override .table .table-border-0>thead>tr>td, .override .table .table-border-0>thead>tr>th { border: 0;}
.override .table-borderless > tbody > tr > td, .override .table-borderless > tbody > tr > th, .override .table-borderless > tfoot > tr > td, .override .table-borderless > tfoot > tr > th, .override .table-borderless > thead > tr > td, .override .table-borderless > thead > tr > th { border: none; }

/* Wave Box Effect */
.override .wave-box-effect{height:100%; width:20px;position:absolute;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjRmNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC43MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left, rgba(255,244,244,0) 0%, rgba(255,255,255,0.71) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,244,244,0)), color-stop(100%,rgba(255,255,255,0.71)));background:-webkit-linear-gradient(left, rgba(255,244,244,0) 0%,rgba(255,255,255,0.71) 100%);background:-o-linear-gradient(left, rgba(255,244,244,0) 0%,rgba(255,255,255,0.71) 100%);background:-ms-linear-gradient(left, rgba(255,244,244,0) 0%,rgba(255,255,255,0.71) 100%);background:linear-gradient(to right, rgba(255,244,244,0) 0%,rgba(255,255,255,0.71) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff4f4', endColorstr='#b5ffffff',GradientType=1 )}
.override .wave-box-wrapper{ position: relative;clear:both; min-height: 300px;}
.override .wave-box{display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;border:solid 1px ccc;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background:-moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.4)));background:-webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%);background:-o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%);background:-ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%);background:linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#66000000',GradientType=0 )}


@media only screen and (max-width: 768px) {
	/* Padding 5px for Responsive */
	.override .pr-0 { padding: 0; }
	.override .pr-d { padding: 5px; }
	.override .pr-t { padding-top: 5px; }
	.override .pr-b { padding-bottom: 5px; }
	.override .pr-l { padding-left: 5px; }
	.override .pr-r { padding-right: 5px; }
	.override .pr-lr { padding-left: 5px; padding-right: 5px; }
	.override .pr-tb { padding-top: 5px; padding-bottom: 5px; }

	/* Margin 5px for Responsive */
	.override .mr-0 { margin: 0; }
	.override .mr-d { margin: 5px; }
	.override .mr-t { margin-top: 5px; }
	.override .mr-b { margin-bottom: 5px; }
	.override .mr-l { margin-left: 5px; }
	.override .mr-r { margin-right: 5px; }
	.override .mr-lr { margin-left: 5px; margin-right: 5px; }
	.override .mr-tb { margin-top: 5px; margin-bottom: 5px; }
	
	/* Margin Large 10px for Responsive */
	.override .mlr-d { margin: 10px; }
	.override .mlr-t { margin-top: 10px; }
	.override .mlr-b { margin-bottom: 10px; }
	.override .mlr-l { margin-left: 10px; }
	.override .mlr-r { margin-right: 10px; }
	.override .mlr-lr { margin-left: 10px; margin-right: 10px; }
	.override .mlr-tb { margin-top: 10px; margin-bottom: 10px; }
		
	/* Font sizes for Responsive*/
	.override .fr-12 { font-size: 12px; }
	.override .fr-16 { font-size: 16px; }
	
	.override .bgr-n { background: none; }
	.override .bgr-grey { background: #f5f5f5; }
	
	.override .d-nr { display: none; }
	.override .d-br { display: block; }
	.override .d-ibr { display: block; }
	
	.override .fl-nr { float: none; }
	
	.override .text-right-r, .override .text-center-r { text-align: left; }
}