/* Pagination Styles */
.pagination-nav { margin: 30px 0 20px 0; }
.pagination-nav ul {margin: 0; padding: 0;}
.pagination-nav ul li {display: inline-block; margin: 3px; padding: 4px 8px; background: #FFF; color: black; }
.pagination-nav ul li.active:hover {cursor: pointer; background: #07a65a; color: white; }
.pagination-nav ul li.inactive {background: #CACACA;}
.pagination-nav ul li.selected {background: #07a65a; color: white;}

.nav-tabs-custom>.nav-tabs>li.active { border-top-color: #07a65a; }